<div id="<%= dom_id profile %>">
  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= profile.city %>
  </p>

  <p>
    <strong>Work experience:</strong>
    <%= profile.work_experience %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= profile.location %>
  </p>

  <p>
    <strong>Discipline:</strong>
    <%= profile.discipline %>
  </p>

  <p>
    <strong>Tech stack:</strong>
    <%= profile.tech_stack %>
  </p>

  <p>
    <strong>Answer one:</strong>
    <%= profile.answer_one %>
  </p>

  <p>
    <strong>Answer two:</strong>
    <%= profile.answer_two %>
  </p>

  <p>
    <strong>Answer three:</strong>
    <%= profile.answer_three %>
  </p>

  <p>
    <strong>Answer four:</strong>
    <%= profile.answer_four %>
  </p>

  <p>
    <strong>Answer five:</strong>
    <%= profile.answer_five %>
  </p>

</div>
