<%= form_with url: root_path, local: true, method: :get do |f| %>
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white p-3  shadow-lg rounded-lg bg-purple-700 text-white w-full text-sm">
      <div class="mb-3">
        <%= f.label "Discipline", class: "block font-medium text-white" %>
        <%= f.select(:discipline,
            ["Any", "Front End", 'Back End', 'Full Stack'],
            value: params[:discipline]
        ) %>
      </div>
      <div class="mb-3">
        <%= f.label "Work experience", class: "block font-medium text-white"%>
        <%= f.select(:work_experience,
            ['Any', '< 1 year', '1 - 2 years', '3 - 4 years', '4 - 5 years', '5 - 10 years', '10+ years'],
            value: params[:work_experience]
        ) %>
      </div>
      <div class="mb-3">
        <%= f.label "City", class: "block font-medium text-white" %>
        <%= f.text_field :city, placeholder: "e.g. London, UK", value: params[:city], class: "h-8" %>
      </div>
      <div class="mb-3">
        <label class="block text-sm font-medium text-white">Radius</label>
        <input type="range" min="10" max="100" value="10" name="radius" step="10" oninput="this.nextElementSibling.value = this.value + 'km'" class="form-range appearance-none w-full h-6 p-0 bg-transparen focus:shadow-none"/>
        <output class="block font-medium text-white">1km</output>
      </div>
      <div>
        <%= f.submit "search", class: "btn btn-primary p-2 bg-purple-300 text-white w-full text-base" %>
      </div>
    </div>
  </div>
<% end %>
