
<%= button_to "sign out", destroy_user_session_path, method: :delete  %>



<p style="color: green"><%= notice %></p>

<%= render "map" %>

<h1 class="text-stone-200">Profiles</h1>

<div id="profiles">
  <% @profiles.each do |profile| %>
    <%= render profile %>
    <p>
      <%= link_to "Show this profile", profile %>
    </p>
  <% end %>
</div>

<%= link_to "New profile", new_profile_path %>
